.gradient-custom-2 {
/* fallback for old browsers */
background: #fbc2eb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

img {
   width: 160px;
   height: 160px;
   border-radius: 50%;
}

.fundo {
     background: #A9A9A9;
}

.fundofoto {
     background: #ADD8E6;
}

.branco {
    background: #F0F8FF	;
}